<li class="menuitem">
    <ul>
        <li ng-if="!info.title_arrow" class="active {{info.active}}">
            <a href="#/{{info.title_url}}"><i class="fa {{info.title_style}}"></i> <span class="nav-label">{{info.title}}</span></a>
        </li>
        <li ng-if="info.title_arrow && info.title_arrow_active" class="active {{info.active}}">
            <a href="#/{{info.title_url}}"><i class="fa {{info.title_style}}"></i> <span class="nav-label">{{info.title}}</span><span ng-show="info.title_arrow" class="fa arrow imenu_arrow"></span></a>
        </li>
        <li ng-if="info.title_arrow && !info.title_arrow_active">
            <a href="#/{{info.title_url}}"><i class="fa {{info.title_style}}"></i> <span class="nav-label">{{info.title}}</span><span ng-show="info.title_arrow" class="fa arrow imenu_arrow"></span></a>
        </li>
        <li ng-show="info.title_arrow_active" ng-repeat="dt in info.data" class="{{dt.active}}">
            <a href="#/{{info.url}}{{dt[info.key.id]}}"><i class="fa {{info.li_style}}"></i> <span class="nav-label">{{dt[info.key.name]}}</span> <span class="label {{info.label}} pull-right">{{dt[info.key.count]?dt[info.key.count]:0}}</span></a>
        </li>
    </ul>
</li>