<div class="form-inline form-group form_place no-margins">
    <span> Page </span>
    <i ng-if="!obj.firstPage" ng-click="updater(1)"
       class="btn btn-default fa fa-step-backward" title="First page"></i>
    <i ng-if="!obj.firstPage" ng-click="updater(pagenum - 1)"
       class="btn btn-default fa fa-arrow-left" title="Previews page"></i>
    <input type="number" class="form-control w-max-50" ng-model="pagenum"
           ng-blur="updater(pagenum)"/>
    <i ng-if="!obj.lastPage" ng-click="updater(pagenum + 1)"
       class="btn btn-default fa fa-arrow-right" title="Next page"></i>
    <i ng-if="!obj.lastPage" ng-click="updater(obj.totalPages)"
       class="btn btn-default fa fa-step-forward" title="Last page"></i>
    <span> of {{obj.totalPages}} page<span ng-if="!(obj.totalPages == 1)">s</span> | View </span>
    <select class="form-control"
            name="page-size-filter"
            ng-options="ps.label for ps in pagesizes track by ps.value"
            ng-model="pagesize"
            ng-change="updater(1)" convert-to-number>
    </select>
    <span> per page | Total {{obj.totalElements}} {{lbl}}<span ng-if="!(obj.totalElements == 1)">s</span> found</span>
</div>