<div class="panel {{panelclass}}">
    <div class="panel-heading"><i class="fa {{panelfa}}"></i> <span>{{panelhead}}</span></div>
    <div class="panel-body">
        <p ng-repeat="pb in panelbody.split('\n') track by $index">
            {{pb}}</p>
    </div>
</div>