<div class="row">
    <div ng-hide="info.edit == attr" class="col-sm-8">
        <h4><strong>{{info.data[attr]}}</strong></h4>
    </div>
    <div ng-show="info.edit == attr" class="col-sm-6">
        <input type="text" name="{{attr}}" placeholder="{{attr}}" ng-model="info.data[attr]"/>
    </div>
    <div ng-hide="info.edit == attr" class="col-sm-4"><a href=""
                                                         ng-click="edit()"
                                                         class="btn btn-sm"><i
            class="fa fa-pencil"></i> Edit </a></div>
    <div ng-show="info.edit == attr" class="col-sm-6">
        <a href="" ng-click="save()" class="btn btn-sm"><i
                class="fa fa-save"></i> Save </a>
        <a href="" ng-click="cancel()" class="btn btn-sm"><i
                class="fa fa-close"></i> Cancel </a>
    </div>
</div>