<li class="nav-header">
    <div class="dropdown profile-element"> <span>
            <img alt="image" class="img-circle" ng-src="https://www.gravatar.com/avatar/{{info.data.avatar}}?d=wavatar&s=48"/>
        </span>
        <a data-toggle="dropdown" class="dropdown-toggle" href="">
            <span class="clear"> <span class="block m-t-xs">
                <strong class="font-bold">{{info.data.firstName}} {{info.data.lastName}}</strong>
                </span> <span class="text-muted text-xs block">{{(roles | filter:{key:info.role}:true)[0].name}} <b class="caret"></b></span> </span> </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="#/myprofile">My Profile</a></li>
            <li ng-if="info.role==='SUPER_ADMIN'"><a href="#/user/add">Create User</a></li>
            <li ng-if="info.role==='SUPER_ADMIN'"><a href="#/profile/add">Create Profile</a></li>
            <li ng-if="info.role==='SUPER_ADMIN'"><a href="#/users">View Users </a></li>
            <li ng-if="info.role==='SUPER_ADMIN'"><a href="#/profiles">View Profiles </a></li>
            <li class="divider"></li>
            <li><a href="" ng-click="logout()">Logout</a></li>
        </ul>
    </div>
    <div class="logo-element">Iguan</div>
</li>