<div ng-include="'app/templates/html/spinner.html'"></div>
<div class="footer">
    <div class="pull-right">Iguan Marketing</div>
    <div><strong>Copyright</strong> Iguan Systems © 2016-2017</div>
</div>