<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="" ng-click="mini_navbar()"><i class="fa fa-bars"></i></a>
            <form role="search" class="navbar-form-custom" action="http://webapplayers.com/inspinia_admin-v2.5/search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to Iguan Marketing.</span>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="">
                    <i class="fa fa-envelope"></i> <span ng-if="totalMails > 0" class="label label-warning animated tada">{{totalMails}}</span>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    <li ng-repeat="headerReply in headerMails">
                        <div class="dropdown-messages-box">
                            <a href="#/mailbox/view/unseen/{{headerReply.id}}" class="pull-left">
                                <img alt="image" class="img-circle" ng-src="{{headerReply.avatar}}">
                            </a>

                            <div class="media-body">
                                <strong class="pull-right">{{headerReply.replyCount}}</strong>
                                <strong>{{headerReply.profileName}}</strong>
                                <br>
                                <small class="text-muted">Available Connects - {{headerReply.availableConnects}} from {{headerReply.membershipConnects}}</small>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </li>                    
                    <li>
                        <div class="text-center link-block">
                            <a href="#/replies">
                                <i class="fa fa-envelope"></i> <strong>See All Replies</strong>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="">
                    <i class="fa fa-bell"></i> <span ng-if="header_info.notificationCount > 0" class="label label-primary animated tada">{{header_info.notificationCount}}</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="#/notifications">
                            <div>
                                <i class="fa fa-bell fa-fw"></i> Notifications
                                <span class="pull-right text-muted small">{{header_info.notificationCount}}</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#/profiles">
                            <div>
                                <i class="fa fa-gift fa-fw"></i>Total bids
                                <span class="pull-right text-muted small">{{totalBids}}</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#/bidstats">
                            <div>
                                <i class="fa fa-diamond fa-fw"></i>Total count of jobs
                                <span class="pull-right text-muted small">{{totalJobs}}</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="#/bonus">
                                <strong>See My Bonuses</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <a href="" ng-click="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
<!--            <li>
                <a class="right-sidebar-toggle">
                    <i class="fa fa-tasks"></i>
                </a>
            </li>-->
        </ul>
    </nav>
</div>