<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">            
            <uinfo info="userinfo" onlogout="logout()" roles="roles"></uinfo>
            <imenu ng-repeat="m in menu" info="m"></imenu>
        </ul>
    </div>
</nav>