<div ng-include="'app/templates/html/nav.html'"></div>
<div id="page-wrapper" class="white-bg dashbard-1">
    <div ng-include="'app/templates/html/header.html'"></div>
    <div ng-include="'app/templates/html/footer.html'"></div>
</div>