<div class="login-page">
    <div class="form{{shake}}">
        <form class="login-form" ng-submit="login()">
            <input type="text" placeholder="Username" ng-model="username"/>
            <input type="password" placeholder="Password" ng-model="password"/>
            <input type="submit" class="btn LoginBtn" value="Login"/>
            <!--<a href="" ng-click="login()" class="btn LoginBtn">login</a>-->
        </form>
    </div>
</div>
<div ng-include="'app/templates/html/footer.html'"></div>
<link href="assets/css/login.css" rel="stylesheet">
