<div ng-include="'app/templates/html/nav.html'"></div>
<div id="page-wrapper" class="white-bg dashbard-1">
    <div ng-include="'app/templates/html/header.html'"></div>
    <div class="row col-xs-12" ng-hide="spinner1">
        <div class="row wrapper border-bottom gray-bg page-heading">
            <div class="col-lg-9">
                <h1>{{page_title}}</h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="#/">Home</a>
                    </li>
                    <li class="active">
                        <strong>{{page_title}}</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="col-md-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Profile Detail</h5>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <a href="https://signup.wordpress.com/signup/?ref=oauth2&user_email={{userinfo.data.email}}&oauth2_redirect=bf551c93d83b96478db51481a9cbe97e%40https%3A%2F%2Fpublic-api.wordpress.com%2Foauth2%2Fauthorize%2F%3Fclient_id%3D1854%26response_type%3Dcode%26blog_id%3D0%26state%3D331f9ecba5fcab15e2168e1231f7be2a4b1b8cd24dd6f90b3672fb5159d7b590%26redirect_uri%3Dhttps%253A%252F%252Fen.gravatar.com%252Fconnect%252F%253Faction%253Drequest_access_token%26jetpack-code%26jetpack-user-id%3D0%26action%3Doauth2-login&wpcom_connect=1"
                               target="_blank"><img alt="image" class="img-responsive"
                                                    ng-src="https://www.gravatar.com/avatar/{{userinfo.data.avatar}}?d=wavatar&s=256"></a>
                        </div>
                        <div class="ibox-content profile-content">
                            <uattr info="userinfo" attr="'firstName'" edit="makeEditable('firstName')" save="save('firstName')" cancel="cancel('firstName')"></uattr>
                            <uattr info="userinfo" attr="'lastName'" edit="makeEditable('lastName')" save="save('lastName')" cancel="cancel('lastName')"></uattr>
                            <uattr info="userinfo" attr="'email'" edit="makeEditable('email')" save="save('email')" cancel="cancel('email')"></uattr>
                            <p><i class="fa fa-flag"></i> {{(roles | filter:{key:userinfo.role}:true)[0].name}}</p>
                            <p><i class="fa fa-user"></i> {{userinfo.data.username}}</p>
                            <div class="user-button">
                                <div class="row">
                                    <div class="col-md-6">
                                        <a href="https://en.gravatar.com/" target="_blank"
                                           class="btn btn-primary btn-sm btn-block"><i class="fa fa-picture-o"></i>
                                            Change image</a>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block"
                                                data-toggle="modal" data-target="#passwordPopup"><i
                                                class="fa fa-key"></i> Change password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="ibox">
                    <div class="ibox-content">
                        <span class="text-muted small pull-right">Date: <i class="fa fa-clock-o"></i> {{now | date:"dd/MM/yyyy hh:mm:ss"}} </span>
                        <h2>Profile List</h2>
                        <div class="input-group">
                            <input type="text" placeholder="Search profile" class="input form-control"
                                   ng-model="profileSearch">
                            <span class="input-group-btn">
                                        <button type="button" class="btn btn btn-primary"><i class="fa fa-search"></i>
                                            Search
                                        </button>
                                </span>
                        </div>
                        <div class="clients-list">
                            <ul class="nav nav-tabs">
                                <span class="pull-right small text-muted">{{my_profiles.length}} Profile<span
                                        ng-if="my_profiles.length > 1">s</span></span>
                                <li class="active"><a data-toggle="tab"><i class="fa fa-user"></i> Profiles</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                <tr ng-repeat="p in my_profiles | filter: profileSearch">
                                                    <td class="client-avatar"><img alt="image" ng-src="{{p.avatar}}">
                                                    </td>
                                                    <td><a data-toggle="tab" href="" class="client-link">{{p.profileName}}</a>
                                                    </td>
                                                    <td class="contact-type"><i class="fa fa-envelope"></i></td>
                                                    <td>{{p.email}}</td>
                                                    <td><i class="{{(statusProfileFilters | filter:{status:p.status}:true)[0].class}} pull-right" aria-hidden="true"></i></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="passwordPopup" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2>Change the password</h2>
                    </div>
                    <div class="popuoBox" ng-show="loader" ng-include="'app/templates/html/loader.html'"></div>
                    <div class="popuoBox" ng-hide="loader">
                        <form class="m-t" name="new_password" novalidate
                              ng-submit="new_password.$valid && password_change()">
                            <!--<input type="password" class="form-control marginBottom15" placeholder="Write old password here..."-->
                            <!--ng-model="add_password.old" required=""/>-->
                            <input type="password" class="form-control marginBottom15"
                                   placeholder="Write new password here..."
                                   ng-model="add_password.new1" required=""/>
                            <input type="password" class="form-control marginBottom15"
                                   placeholder="Write new password again..."
                                   ng-model="add_password.new2" required=""/>
                            <!--<input type="submit" class="btn popUp_addBtn marginBottom15" value="Change password"/>-->
                            <button type="submit" class="btn popUp_addBtn marginBottom15"><i class="fa fa-key"></i>
                                Change password
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'app/templates/html/footer.html'"></div>
</div>