<div ng-include="'app/templates/html/nav.html'"></div>
<div id="page-wrapper" class="white-bg dashbard-1">
    <div ng-include="'app/templates/html/header.html'"></div>
    <div class="row" ng-hide="spinner1">
        <div class="col-lg-12 col-md-12">
            <div class="row wrapper border-bottom gray-bg page-heading">
                <div class="col-lg-9">
                    <h1>{{page_title}}</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="#/">Home</a>
                        </li>
                        <li class="active">
                            <strong>{{page_title}}</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-3">
                    <div class="text-right plusIcon">
                            <span data-toggle="modal" data-target="#portfolioPopup"><i class="fa fa-plus-circle"
                                                                                       aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="col-xs-12">
                    <div class="dateBox">
                        <div class="col-md-8 col-md-offset-4">
                            <pagination obj="iportfolio" pagenum="pageNumber" pagesize="pageSize" pagesizes="pageSizes" lbl="portfolio" updateobj="updatePortfolios()"></pagination>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <div class="ibox-content" style="display: block;">
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>&numero;</th>
                                    <th>
                                        <form class="relative-position" ng-submit="updatePageNumber(1)">
                                            <div class="form-element input-group">
                                                <input type="text" class="input form-control" ng-model="titleFilter">
                                                <label>Title</label>
                                                <span class="input-group-btn">
                                                <button type="submit" class="btn btn btn-primary"><i class="fa fa-search"></i></button>
                                            </span>
                                            </div>
                                        </form>
                                    </th>
                                    <th>
                                        <select class="form-control"
                                                ng-options="skill.name for skill in my_skills | orderBy:'name' track by skill.id"
                                                ng-model="skillFilter"
                                                ng-change="changeLSFilter('skillFilter', skillFilter); updatePageNumber(1)"
                                                convert-to-number>
                                            <option value="">All skills</option>
                                        </select>
                                    </th>
                                    <th>
                                        <select class="form-control"
                                                ng-options="pr.profileName for pr in my_profiles | orderBy:'profileName' track by pr.id"
                                                ng-model="profileFilter"
                                                ng-change="changeLSFilter('profileFilter', profileFilter); updatePageNumber(1)"
                                                convert-to-number>
                                            <option value="">All profiles</option>
                                        </select>
                                    </th>
                                    <th>Link</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="pf in iportfolio.content track by $index">
                                    <td>{{iportfolio.number * iportfolio.size + $index + 1}}</td>
                                    <td>{{pf.title}}</td>
                                    <td>{{pf.skill.name}}</td>
                                    <td>{{pf.uProfile.profileName}}</td>
                                    <td><a href="{{pf.link}}" target="_blank">{{pf.link}}</a></td>
                                    <td>{{pf.text | limitTo:textLimit }}<span
                                            ng-if="pf.text.length > textLimit">...</span></td>
                                    <td><a href="" class="btn btn-sm" data-toggle="modal"
                                           data-target="#portfolioPopup{{pf.id}}"><i
                                            class="fa fa-pencil"></i> Edit </a> <a href="" class="btn btn-sm"
                                                                                   ng-click="delete_portfolio(pf.id)"><i
                                            class="fa fa-trash"></i> Delete </a></td>
                                </tr>
                                <tr ng-if="iportfolio.totalElements === 0">
                                    <td colspan="7">There are no portfolios to show.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="dateBox">
                        <div class="col-md-8 col-md-offset-4">
                            <pagination obj="iportfolio" pagenum="pageNumber" pagesize="pageSize" pagesizes="pageSizes" lbl="portfolio" updateobj="updatePortfolios()"></pagination>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lightBoxGallery">
                <a href="img/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/1s.jpg"></a>
                <a href="img/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/2s.jpg"></a>
                <a href="img/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/3s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/6s.jpg"></a>
                <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/7s.jpg"></a>
                <a href="img/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/8s.jpg"></a>
                <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/9s.jpg"></a>
                <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/10s.jpg"></a>
                <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/12s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/6s.jpg"></a>
                <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/7s.jpg"></a>
                <a href="img/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/2s.jpg"></a>
                <a href="img/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/3s.jpg"></a>
                <a href="img/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/1s.jpg"></a>
                <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/9s.jpg"></a>
                <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/10s.jpg"></a>
                <a href="img/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/11s.jpg"></a>
                <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/12s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/6s.jpg"></a>
                <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/12s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/10s.jpg"></a>
                <a href="img/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/1s.jpg"></a>
                <a href="img/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/2s.jpg"></a>
                <a href="img/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/3s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/6s.jpg"></a>
                <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/7s.jpg"></a>
                <a href="img/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/8s.jpg"></a>
                <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/9s.jpg"></a>
                <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/10s.jpg"></a>
                <a href="img/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/11s.jpg"></a>
                <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/12s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/6s.jpg"></a>
                <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/7s.jpg"></a>
                <a href="img/gallery/2.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/2s.jpg"></a>
                <a href="img/gallery/3.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/3s.jpg"></a>
                <a href="img/gallery/1.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/1s.jpg"></a>
                <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/9s.jpg"></a>
                <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/10s.jpg"></a>
                <a href="img/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/11s.jpg"></a>
                <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/12s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/7.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/7s.jpg"></a>
                <a href="img/gallery/8.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/8s.jpg"></a>
                <a href="img/gallery/9.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/9s.jpg"></a>
                <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/10s.jpg"></a>
                <a href="img/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/11s.jpg"></a>
                <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/12s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/6.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/6s.jpg"></a>
                <a href="img/gallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/12s.jpg"></a>
                <a href="img/gallery/4.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/4s.jpg"></a>
                <a href="img/gallery/5.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/5s.jpg"></a>
                <a href="img/gallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/10s.jpg"></a>
                <a href="img/gallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="img/gallery/11s.jpg"></a>

                <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                <div id="blueimp-gallery" class="blueimp-gallery">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="prev">‹</a>
                    <a class="next">›</a>
                    <a class="close">×</a>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>

            </div>
            <div>
                <div ng-repeat="pf in iportfolio.content track by $index" class="modal fade" id="portfolioPopup{{pf.id}}"
                     role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2>Portfolio - {{pf.title}}</h2>
                            </div>
                            <div class="popuoBox" ng-show="loader" ng-include="'app/templates/html/loader.html'"></div>
                            <div class="popuoBox" ng-hide="loader">
                                <form class="m-t" name="editportfolioform[{{pf.id}}]" novalidate
                                      ng-submit="editportfolioform[pf.id].$valid && save_portfolio(pf.id)">
                                    <div class="form-element marginBottom15">
                                        <input type="text" class="form-control" ng-model="pf.title" required=""/>
                                        <label>Title</label>
                                    </div>
                                    <select class="form-control marginBottom15"
                                            ng-options="pr.profileName for pr in my_profiles | orderBy:'profileName' track by pr.id"
                                            ng-model="pf.uProfile" required=""
                                            convert-to-number>
                                        <option value="">Select profile</option>
                                    </select>
                                    <select class="form-control marginBottom15"
                                            ng-options="skill.name for skill in my_skills | orderBy:'name' track by skill.id"
                                            ng-model="pf.skill" required=""
                                            convert-to-number>
                                        <option value="">Select skill</option>
                                    </select>
                                    <div class="form-element marginBottom15">
                                        <input type="url" class="form-control" ng-model="pf.link" required=""/>
                                        <label>Link</label>
                                    </div>
                                    <div class="form-element marginBottom15">
                                        <textarea class="form-control" rows="10" ng-model="pf.text" required=""></textarea>
                                        <label>Description</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save portfolio</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="portfolioPopup" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2>Add new portfolio</h2>
                        </div>
                        <div class="popuoBox" ng-show="loader" ng-include="'app/templates/html/loader.html'"></div>
                        <div class="popuoBox" ng-hide="loader">
                            <form class="m-t" name="new_portfolio" novalidate
                                  ng-submit="new_portfolio.$valid && portfolio_add()">
                                <div class="form-element marginBottom15">
                                    <input type="text" class="form-control" ng-model="add_portfolio.title" required=""/>
                                    <label>Title</label>
                                </div>
                                <select class="form-control marginBottom15" required=""
                                        ng-options="pr.profileName for pr in my_profiles | orderBy:'profileName' track by pr.id"
                                        ng-model="add_portfolio.uProfile" convert-to-number>
                                    <option value="">Select profile</option>
                                </select>
                                <select class="form-control marginBottom15" required=""
                                        ng-options="skil.name for skil in my_skills | orderBy:'name' track by skil.id"
                                        ng-model="add_portfolio.skill" convert-to-number>
                                    <option value="">Select skill</option>
                                </select>
                                <div class="form-element marginBottom15">
                                    <input type="url" class="form-control" ng-model="add_portfolio.link" required=""/>
                                    <label>Link</label>
                                </div>
                                <div class="form-element marginBottom15">
                                    <textarea class="form-control" rows="10"
                                              ng-model="add_portfolio.text" required=""></textarea>
                                    <label>Description</label>
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-briefcase"></i> Add portfolio</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'app/templates/html/footer.html'"></div>
</div>