<div ng-include="'app/templates/html/nav.html'"></div>
<div id="page-wrapper" class="white-bg dashbard-1">
    <div ng-include="'app/templates/html/header.html'"></div>
    <div class="row">
        <div class="col-lg-12 col-md-12">  
            <div class="wrapper wrapper-content">
                <div class="col-xs-12">You have no permission to view this page.</div>
            </div>
        </div>
    </div>
    <div ng-include="'app/templates/html/footer.html'"></div>
</div>